#main-container {
  height: 900px;
}
#viewer-container {
  float: right;
}
#editor-container {
  margin-right: 600px;
}
#editor-container form {
  margin: 0px;
}
#viewer {
  display: none;
  margin: 0px;
  padding: 0px;
  width: 600px;
  height: 600px;
  border: none;
}
section {
  padding-top: 0px !important;
}
div.CodeMirror-scroll {
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
#editor-section-tab {
  padding-top: 0px;
  margin-bottom: 0px !important;
}
